body {
    font-family: 'EB Garamond', serif;
}

#navbar {
  position: static;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
}

#navbar a {
  float: left;
  display: flex;
  color: #000000;
  justify-content: center;
  padding: 10px;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

ul li a{
    display: block;
    padding: 14px 50px;
    text-decoration: underline;
    color: black;
}

.content {
  padding: 16px;
}

#paragraph {
    text-align: justify;
    margin-left: 150px;
    margin-right: 150px;
    text-indent: 20px;
    letter-spacing: -0.5px;
    font-size: 20px;
}

#blurb {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

#footer {
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    font-size: 15px;
}

p {
    font-size: 20px;
    letter-spacing: normal;

}

h3 {
    font-size: 40px;
    letter-spacing: -1px;
}

h1 {
    font-size: 50px;
    letter-spacing: -3px;
    text-align: center;
}

h4 {
    font-size: 15px;
    letter-spacing: 3px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}