body {
    font-family: 'EB Garamond', serif;
}

#navbar {
  position: static;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
}

#navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.content {
  padding: 16px;
}