body {
    font-family: 'EB Garamond', serif;
}

#navbar {
  position: static;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
}

#navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.content {
  padding: 16px;
}

#paragraph {
    text-align: justify;
    margin-left: 150px;
    margin-right: 150px;
    text-indent: 20px;
}

#blurb {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

p {
    font-size: 20px;
    letter-spacing: normal;

}

h3 {
    font-size: 40px;
    letter-spacing: -1px;
}

h1 {
    font-size: 50px;
    letter-spacing: -3px;
    text-align: center;
}

h4 {
    font-size: 15px;
    letter-spacing: 3px;
    text-align: center;
}